<a href="https://colab.research.google.com/github/surajacharya12/DATA-SCIENCE-LAB/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A= [1,2,3,4,5]
B= [6,7,8,9,10]

print(A+B)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Example 1: Basic Dictionary Operations with a `for` Loop

In [ ]:

my_dict = {}

my_dict['apple'] = 1
my_dict['banana'] = 2
my_dict['cherry'] = 3

print("Original dictionary:", my_dict)


print("\nIterating through dictionary items:")
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Original dictionary: {'apple': 1, 'banana': 2, 'cherry': 3}

Iterating through dictionary items:
Key: apple, Value: 1
Key: banana, Value: 2
Key: cherry, Value: 3

**Python Essentials and PEP 8**

In [ ]:
from typing import List, Dict, Optional

def process_items(items: List[str], config: Dict[str, int]) -> Optional[str]:
    if not items:
        return None
    return f"Processed {len(items)} items with config {config}"

### Example 2: String Manipulation with a `for` Loop

In [ ]:

new_word = ''
for char_code in range(ord('h'), ord('o') + 1):
    new_word += chr(char_code)
print("Built string:", new_word)

message = "Hello Python!"
print("\nCharacters in message:")
for char in message:
    print(char)

Built string: hijklmno

Characters in message:
H
e
l
l
o

P
y
t
h
o
n
!

### Example 3: Simple Function Definition and Call

In [ ]:
def add_two_numbers(num1, num2):
    "This function adds two numbers and returns their sum."
    sum_result = num1 + num2
    return sum_result

result1 = add_two_numbers(5, 3)
print("Sum of 5 and 3:", result1)

result2 = add_two_numbers(10, 20)
print("Sum of 10 and 20:", result2)

Sum of 5 and 3: 8
Sum of 10 and 20: 30

### Example 4: Function Using `range` and a `for` Loop

In [ ]:
def generate_sequence(start, end):
    """Generates a list of numbers from start (inclusive) to end (exclusive)."""
    numbers = []
    for i in range(start, end):
        numbers.append(i)
    return numbers


sequence1 = generate_sequence(1, 6)
print("Sequence from 1 to 5:", sequence1)

sequence2 = generate_sequence(0, 3)
print("Sequence from 0 to 2:", sequence2)

Sequence from 1 to 5: [1, 2, 3, 4, 5]
Sequence from 0 to 2: [0, 1, 2]

### Example 5: Using a `lambda` Function

In [ ]:

doubler = lambda x: x * 2

print("Double of 5:", doubler(5))
print("Double of 10:", doubler(10))


numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print("Original numbers:", numbers)
print("Doubled numbers (using map and lambda):", doubled_numbers)

Double of 5: 10
Double of 10: 20
Original numbers: [1, 2, 3, 4, 5]
Doubled numbers (using map and lambda): [2, 4, 6, 8, 10]

In [ ]:
def process_numbers_normal(limit):
    "Generates a list of numbers from 0 up to (but not including) the limit using a while loop."
    results = []
    i = 0
    while i < limit:
        results.append(i)
        i += 1
    return results


print("Normal function output:", process_numbers_normal(5))

Normal function output: [0, 1, 2, 3, 4]

### 2. Using `range` and a `for` loop

In [ ]:
def process_numbers_range_loop(limit):
    "Generates numbers using range() and a for loop."
    results = []
    for i in range(limit):
        results.append(i)
    return results


print("Range and loop function output:", process_numbers_range_loop(5))

Range and loop function output: [0, 1, 2, 3, 4]

### 3. Incorporating a `lambda` function

In [ ]:
def process_numbers_lambda(limit):
    "Generates numbers using lambda and map()."

    return list(map(lambda x: x, range(limit)))


print("Lambda function output:", process_numbers_lambda(5))

Lambda function output: [0, 1, 2, 3, 4]

In [ ]:
import math

def area_of_circle(radius):
    "Calculates the area of a circle given its radius."
    return math.pi * (radius ** 2)

radius_input = input("Enter the radius of the circle: ")
radius = float(radius_input)
area = area_of_circle(radius)
print(f"The area of a circle with radius {radius} is: {area:.2f}")

Enter the radius of the circle: 5
The area of a circle with radius 5.0 is: 78.54