# SQLite Database
### Description of SQLite Shell
SQLite is a software library that provides a relational database management system. The 'lite' in SQLite means light weight in terms of setup, database administration, and required resource. SQLite is serverless, self-contained, and zero-configuration. The SQLite shell is a command-line tool that allows users to manually enter and execute SQL statements against an SQLite database. It is highly portable and follows the SQL standard, making it ideal for mobile devices, IoT, and desktop applications where a full-blown SQL server like PostgreSQL or MySQL would be overkill.

### SQLite: Establishing Connection
The first step in using SQLite with Python is to establish a connection to the database file using `sqlite3.connect()`. If the file doesn't exist, SQLite will create it automatically.

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('lab41example.db')

In [3]:
cursor= conn.cursor()

### SQLite: Creating a Table
Once a connection is established, we use a cursor to execute SQL commands. Here we create a `STUDENT` table with various data types like `INT`, `TEXT`, `REAL`, and `BOOLEAN`.

In [4]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS STUDENT
(ID INT PRIMARY KEY NOT NULL,
 NAME TEXT NOT NULL,
 AGE INT NOT NULL,
 ADDRESS CHAR(50),
 SALARY REAL,
 IS_ACTIVE BOOLEAN,
 BIO TEXT,
 JOIN_DATA DATETIME,
 PROFILE_PICTURE BLOB,
 MISC_DATA NUMERIC,
 CREATE_AT TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
''')
conn.commit()

### SQLite: Inserting Records (Create)
The 'C' in CRUD stands for Create. We insert a new record into the `STUDENT` table using the `INSERT INTO` SQL statement.

In [5]:
cursor.execute("INSERT INTO STUDENT (ID,NAME,AGE,ADDRESS,SALARY,IS_ACTIVE,BIO,JOIN_DATA,PROFILE_PICTURE,MISC_DATA) \
      VALUES (1, 'Paul', 32, 'California', 20000.00, 1, 'A short bio about Paul', '2023-10-01 10:00:00', NULL, 123.45 );")

### SQLite: Fetching Records (Read)
The 'R' in CRUD stands for Read. We use the `SELECT` statement to retrieve data from the database. The `fetchall()` method retrieves all rows from the result set.

In [6]:
cursor.execute("select * from STUDENT")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Paul', 32, 'California', 20000.0, 1, 'A short bio about Paul', '2023-10-01 10:00:00', None, 123.45, '2026-01-27 14:59:47')

In [7]:
cursor.execute("UPDATE STUDENT SET SALARY = 25000.00 WHERE ID = 1")
conn.commit()
print("Record updated successfully")

Record updated successfully

In [8]:
cursor.execute("DELETE FROM STUDENT WHERE ID = 1")
conn.commit()
print("Record deleted successfully")

Record deleted successfully

In [9]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in ./.venv/lib/python3.14/site-packages (2.0.46)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.14/site-packages (from SQLAlchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

In [11]:
# Connection string format: dialect+driver://username:password@host:port/database
engine = create_engine('sqlite:///lab4data.db')
Base = declarative_base()

In [12]:

class User(Base):
    __tablename__ = 'users'
    __table_args__ = {'extend_existing': True}  # <-- this line fixes the error

    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    email = Column(String, unique=True, nullable=False)
    course = Column(String)

In [13]:
Base.metadata.create_all(engine)

In [14]:
# Create a session
Session = sessionmaker(bind=engine)
session = Session()

In [15]:
# Define users as ORM instances
users_data = [
    {"name": "Alice", "email": "alice@example.com", "course": "Mathematics"},
    {"name": "Bob", "email": "bob@example.com", "course": "Physics"},
    {"name": "Charlie", "email": "charlie@example.com", "course": "Chemistry"}
]

for user_info in users_data:
    # Check if user already exists to avoid Unique Constraint error
    exists = session.query(User).filter_by(email=user_info['email']).first()
    if not exists:
        new_user = User(**user_info)
        session.add(new_user)
        print(f"Added user: {user_info['name']}")
    else:
        print(f"User {user_info['name']} already exists, skipping.")

session.commit()

User Alice already exists, skipping.
User Bob already exists, skipping.
User Charlie already exists, skipping.

In [16]:
users = session.query(User).filter(User.name == "Alice").all()

In [17]:
all_users = session.query(User).all()
for user in all_users:
    print(f"ID: {user.id}, Name: {user.name}, Email: {user.email}, Course: {user.course}")

ID: 1, Name: Alice, Email: alice@example.com, Course: Mathematics
ID: 2, Name: Bob, Email: bob@example.com, Course: Physics
ID: 3, Name: Charlie, Email: charlie@example.com, Course: Chemistry

In [18]:
import sys
print(sys.executable)

/Users/suraj/Desktop/DATA-SCIENCE-LAB/.venv/bin/python

# MongoDB Database
### Description of MongoDB Shell (mongosh)
MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. The MongoDB Shell (`mongosh`) is a fully functional JavaScript and Node.js REPL environment for interacting with MongoDB. Unlike SQL shells that deal with tables and rows, `mongosh` deals with collections and documents. It provides a rich set of methods for data manipulation, administrative operations, and monitoring, supporting full JavaScript syntax for complex logic directly in the shell.

In [19]:
import sys

In [20]:
pip install pymongo dnspython

Requirement already satisfied: pymongo in ./.venv/lib/python3.14/site-packages (4.16.0)
Requirement already satisfied: dnspython in ./.venv/lib/python3.14/site-packages (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pymongo

In [22]:
!pip install pymongo

Requirement already satisfied: pymongo in ./.venv/lib/python3.14/site-packages (4.16.0)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in ./.venv/lib/python3.14/site-packages (from pymongo) (2.8.0)

### MongoDB: Connecting to Cluster
MongoDB is a NoSQL database. We use the `MongoClient` to connect to a MongoDB instance (in this case, a cloud cluster on MongoDB Atlas).

In [31]:
import certifi
from pymongo import MongoClient

### MongoDB: Connecting to Cluster
MongoDB is a NoSQL database. We use the `MongoClient` to connect to a MongoDB instance (in this case, a cloud cluster on MongoDB Atlas).

In [32]:

client = MongoClient("mongodb+srv://surajacharya993_db_user:REKHJwOA8LWyAz7K@cluster0.etincqf.mongodb.net/", tlsCAFile=certifi.where())
db = client['lab4python']
collection = db['users']

In [33]:
users_data = [
    {"name": "Alice", "email": "alice@example.com", "course": "Python"},
    {"name": "Bob", "email": "bob@example.com", "course": "Java"},
    {"name": "Charlie", "email": "charlie@example.com", "course": "Data Science"},
    {"name": "David", "email": "david@example.com", "course": "Machine Learning"}
]

### MongoDB: Inserting Documents (Create)
In MongoDB, data is stored in 'documents' within 'collections'. We use `insert_many()` to add multiple JSON-like records at once.

In [38]:
for user in users_data:
    collection.update_one(
        {"email": user["email"]},
        {"$setOnInsert": user},
        upsert=True
    )

print("Data sync completed with MongoDB.")

Data sync completed with MongoDB.

In [39]:
# Document IDs are managed by MongoDB automatically during update/upsert
print("Operation performed successfully.")

Operation performed successfully.

In [40]:
print("Data inserted successfully into MongoDB collection.")

Data inserted successfully into MongoDB collection.

### MongoDB: Querying Documents (Read)
We use the `find()` method to retrieve documents from the collection. This is equivalent to a `SELECT` query in SQL.

In [41]:
print("The data are:")
for user in collection.find():
    print(user)

The data are:
{'_id': ObjectId('6970842e0c9584c350261e09'), 'name': 'Alice', 'email': 'alice@example.com', 'course': 'Python'}
{'_id': ObjectId('6970842e0c9584c350261e0c'), 'name': 'David', 'email': 'david@example.com', 'course': 'Machine Learning'}
{'_id': ObjectId('6970842e0c9584c350261e0b'), 'name': 'Charlie', 'email': 'charlie@example.com', 'course': 'Data Science'}
{'_id': ObjectId('6970842e0c9584c350261e0a'), 'name': 'Bob', 'email': 'bob@example.com', 'course': 'Java'}

In [42]:
collection.update_one({"name": "Alice"}, {"$set": {"course": "Advanced Python"}})
print("Document updated successfully")

Document updated successfully

In [43]:
collection.delete_one({"name": "David"})
print("Document deleted successfully")

Document deleted successfully

# Conclusion
This laboratory exercise successfully demonstrated the fundamental CRUD (Create, Read, Update, Delete) operations using two distinct database technologies:
1. **SQLite**: A serverless, relational SQL database engine ideal for lightweight applications and local storage.
2. **MongoDB**: A flexible, document-oriented NoSQL database perfect for handling unstructured data and scalable web applications.

By implementing these operations, we've explored the differences between SQL's table-based structure and MongoDB's document-based approach, providing a solid foundation for database management in Python.