### Data Format Converter

1.Build a Python program that converts data between CSV, JSON, Excel, and Text
formats.

In [18]:
import pandas as pd
import json
import os

def convert_data(input_file, output_format):
    
    file_ext = os.path.splitext(input_file)[1].lower()
    
    try:
        if file_ext == '.csv':
            df = pd.read_csv(input_file)
        elif file_ext in ['.xlsx', '.xls']:
            df = pd.read_excel(input_file)
        elif file_ext == '.json':
            df = pd.read_json(input_file)
        elif file_ext == '.txt':
            df = pd.read_csv(input_file, sep='\t')
        else:
            print(f"Unsupported input format: {file_ext}")
            return
    except Exception as e:
        print(f"Error reading file: {e}")
        return

    # 2. Define the output 
    output_file = f"converted_output.{output_format.lower()}"

    try:
        if output_format == 'csv':
            df.to_csv(output_file, index=False)
        elif output_format == 'json':
            df.to_json(output_file, orient='records', indent=4)
        elif output_format == 'excel':
            output_file = "converted_output.xlsx"
            df.to_excel(output_file, index=False)
        elif output_format == 'txt':
            df.to_csv(output_file, sep='\t', index=False)
        else:
            print(f"Unsupported output format: {output_format}")
            return
            
        print(f"Success! File saved as {output_file}")
    except Exception as e:
        print(f"Error saving file: {e}")

2.How will your program handle nested JSON structures during conversion?

In [19]:
import json


json_string = '''
[
  {"name": "Alice", "age": 25},
  {"name": "Bob", "age": 30}
]
'''

# Create file
with open("data.json", "w") as f:
    json.dump(json.loads(json_string), f, indent=4)

# Read file
with open("data.json") as f:
    data = json.load(f)

print(data)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

How do you validate data types and detect missing values during conversion?

3. Explicitly define expected schemas (don’t rely on inference)

Explicitly define expected schemas (don’t rely on inference)

In [20]:
import pandas as pd

# -----------------------------
# 1. Load data
# -----------------------------
df = pd.read_csv(
    "../employee.csv",
    na_values=["", " ", "N/A", "NA", "null", "None", -999]
)

# -----------------------------
# 2. Required columns (adjust if needed)
# -----------------------------
required_columns = df.columns[:3]  # simple default

# -----------------------------
# 3. Convert types safely
# -----------------------------
if "age" in df.columns:
    df["age"] = pd.to_numeric(df["age"], errors="coerce")

if "salary" in df.columns:
    df["salary"] = pd.to_numeric(df["salary"], errors="coerce")

if "start_date" in df.columns:
    df["start_date"] = pd.to_datetime(df["start_date"], errors="coerce")

# -----------------------------
# 4. Detect missing values
# -----------------------------
print("\nMissing values per column:")
print(df.isna().sum())

# -----------------------------
# 5. Rows with missing data
# -----------------------------
rows_with_missing = df[df.isna().any(axis=1)]
print("\nRows with missing values:")
print(rows_with_missing)

# -----------------------------
# 6. Detect conversion errors
# -----------------------------
raw = pd.read_csv("employee.csv")

if "age" in raw.columns:
    age_errors = (
        pd.to_numeric(raw["age"], errors="coerce").isna()
        & raw["age"].notna()
    )
    print("\nAge conversion errors:", age_errors.sum())

if "start_date" in raw.columns:
    date_errors = (
        pd.to_datetime(raw["start_date"], errors="coerce").isna()
        & raw["start_date"].notna()
    )
    print("Date conversion errors:", date_errors.sum())

print("\nValidation complete ")

Missing values per column:
employee_id                 0
department                  0
region                      0
education                 771
gender                      0
recruitment_channel         0
no_of_trainings             0
age                         0
previous_year_rating     1363
length_of_service           0
KPIs_met_more_than_80       0
awards_won                  0
avg_training_score          0
dtype: int64

Rows with missing values:
       employee_id         department     region        education gender  \
0             8724         Technology  region_26        Bachelors      m
21            5677         Technology  region_17        Bachelors      m
32           67672         Technology  region_17        Bachelors      m
39           55325          Analytics  region_22        Bachelors      m
47           44159          Analytics  region_22  Masters & above      m
...            ...                ...        ...              ...    ...
17358         2142                 HR  region_22        Bachelors      m
17373        42917  Sales & Marketing  region_14              NaN      m
17384        74428  Sales & Marketing   region_5        Bachelors      f
17387        10790         Technology  region_27        Bachelors      m
17398        18687  Sales & Marketing  region_22              NaN      m

      recruitment_channel  no_of_trainings  age  previous_year_rating  \
0                sourcing                1   24                   NaN
21               sourcing                1   25                   NaN
32                  other                1   29                   NaN
39                  other                1   25                   NaN
47                  other                1   31                   NaN
...                   ...              ...  ...                   ...
17358            referred                1   30                   NaN
17373               other                1   24                   NaN
17384               other                1   27                   NaN
17387               other                2   28                   NaN
17398            sourcing                1   30                   4.0

       length_of_service  KPIs_met_more_than_80  awards_won  \
0                      1                      1           0
21                     1                      0           0
32                     1                      1           0
39                     1                      0           0
47                     1                      1           0
...                  ...                    ...         ...
17358                  1                      0           0
17373                  1                      0           0
17384                  1                      0           0
17387                  1                      0           1
17398                  3                      1           0

       avg_training_score
0                      77
21                     80
32                     85
39                     88
47                     84
...                   ...
17358                  46
17373                  50
17384                  47
17387                  90
17398                  54

[1993 rows x 13 columns]

Age conversion errors: 0

Validation complete

4. Design a command-line interface (CLI) for selecting input and output formats.

In [21]:
import pandas as pd

data = {
    "age": [25, 30, None, "abc"],
    "salary": [50000, 60000, 55000, 70000],
    "start_date": ["2023-01-10", "2022-05-01", "", "invalid"],
    "email": ["a@test.com", "b@test.com", None, "c@test.com"]
}

df = pd.DataFrame(data)

df.to_csv("employe.csv", index=False)

print("employee.csv created ")

employee.csv created

5. Generate a data quality report showing missing values, data types, and inconsistencies.

Load the data

In [22]:
import pandas as pd


df = pd.read_csv("employee.csv")


print("First 5 rows:")
print(df.head())

First 5 rows:
   employee_id         department     region  education gender  \
0         8724         Technology  region_26  Bachelors      m
1        74430                 HR   region_4  Bachelors      f
2        72255  Sales & Marketing  region_13  Bachelors      m
3        38562        Procurement   region_2  Bachelors      f
4        64486            Finance  region_29  Bachelors      m

  recruitment_channel  no_of_trainings  age  previous_year_rating  \
0            sourcing                1   24                   NaN
1               other                1   31                   3.0
2               other                1   31                   1.0
3               other                3   31                   2.0
4            sourcing                1   30                   4.0

   length_of_service  KPIs_met_more_than_80  awards_won  avg_training_score
0                  1                      1           0                  77
1                  5                      0           0                  51
2                  4                      0           0                  47
3                  9                      0           0                  65
4                  7                      0           0                  61

Check missing values

In [23]:
missing_report = pd.DataFrame({
    "Missing Count": df.isna().sum(),
    "Missing %": (df.isna().sum() / len(df) * 100).round(2)
})

print("\nMissing Values Report:")
print(missing_report)

Missing Values Report:
                       Missing Count  Missing %
employee_id                        0       0.00
department                         0       0.00
region                             0       0.00
education                        771       4.43
gender                             0       0.00
recruitment_channel                0       0.00
no_of_trainings                    0       0.00
age                                0       0.00
previous_year_rating            1363       7.83
length_of_service                  0       0.00
KPIs_met_more_than_80              0       0.00
awards_won                         0       0.00
avg_training_score                 0       0.00

Check data types

In [24]:
dtype_report = pd.DataFrame({
    "Data Type": df.dtypes,
})

print("\nData Types Report:")
print(dtype_report)

Data Types Report:
                      Data Type
employee_id               int64
department                  str
region                      str
education                   str
gender                      str
recruitment_channel         str
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met_more_than_80     int64
awards_won                int64
avg_training_score        int64

Detect inconsistencies

In [25]:
def check_inconsistencies(df):
    age_errors = pd.Series(False, index=df.index)
    if "age" in df.columns:
        age_errors = pd.to_numeric(df["age"], errors="coerce").isna() & df["age"].notna()
    
    salary_errors = pd.Series(False, index=df.index)
    if "salary" in df.columns:
        salary_errors = pd.to_numeric(df["salary"], errors="coerce").isna() & df["salary"].notna()
    

    date_errors = pd.Series(False, index=df.index)
    if "start_date" in df.columns:
        date_errors = pd.to_datetime(df["start_date"], errors="coerce").isna() & df["start_date"].notna()
    

    email_errors = pd.Series(False, index=df.index)
    if "email" in df.columns:
        email_errors = ~df["email"].str.contains("@", na=False)
    
    inconsistencies = pd.DataFrame({
        "age_invalid": age_errors,
        "salary_invalid": salary_errors,
        "start_date_invalid": date_errors,
        "email_invalid": email_errors
    })
    return inconsistencies

inconsistencies = check_inconsistencies(df)
print("\nInconsistencies Report:")
print(inconsistencies)

problem_rows = df[inconsistencies.any(axis=1)]
print("\nRows with inconsistencies:")
print(problem_rows)

Inconsistencies Report:
       age_invalid  salary_invalid  start_date_invalid  email_invalid
0            False           False               False          False
1            False           False               False          False
2            False           False               False          False
3            False           False               False          False
4            False           False               False          False
...            ...             ...                 ...            ...
17412        False           False               False          False
17413        False           False               False          False
17414        False           False               False          False
17415        False           False               False          False
17416        False           False               False          False

[17417 rows x 4 columns]

Rows with inconsistencies:
Empty DataFrame
Columns: [employee_id, department, region, education, gender, recruitment_channel, no_of_trainings, age, previous_year_rating, length_of_service, KPIs_met_more_than_80, awards_won, avg_training_score]
Index: []

Combine into one summary report

In [26]:
data_quality_report = pd.concat([missing_report, dtype_report], axis=1)
print("\n=== Data Quality Summary ===")
print(data_quality_report)

=== Data Quality Summary ===
                       Missing Count  Missing % Data Type
employee_id                        0       0.00     int64
department                         0       0.00       str
region                             0       0.00       str
education                        771       4.43       str
gender                             0       0.00       str
recruitment_channel                0       0.00       str
no_of_trainings                    0       0.00     int64
age                                0       0.00     int64
previous_year_rating            1363       7.83   float64
length_of_service                  0       0.00     int64
KPIs_met_more_than_80              0       0.00     int64
awards_won                         0       0.00     int64
avg_training_score                 0       0.00     int64

# 2.2.1 Student Management System

6. Design a relational database schema for managing students, courses, enrollments, and
attendance.

In [ ]:
import sqlite3


conn = sqlite3.connect("school.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    date_of_birth DATE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS Courses (
    course_id INTEGER PRIMARY KEY AUTOINCREMENT,
    course_name TEXT NOT NULL,
    course_code TEXT UNIQUE NOT NULL,
    description TEXT,
    start_date DATE,
    end_date DATE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Enrollments (
    enrollment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER NOT NULL,
    course_id INTEGER NOT NULL,
    enrollment_date DATE DEFAULT (DATE('now')),
    status TEXT,
    FOREIGN KEY (student_id) REFERENCES Students(student_id) ON DELETE CASCADE,
    FOREIGN KEY (course_id) REFERENCES Courses(course_id) ON DELETE CASCADE
);
""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS Attendance (
    attendance_id INTEGER PRIMARY KEY AUTOINCREMENT,
    enrollment_id INTEGER NOT NULL,
    attendance_date DATE NOT NULL,
    status TEXT,
    remarks TEXT,
    FOREIGN KEY (enrollment_id) REFERENCES Enrollments(enrollment_id) ON DELETE CASCADE
);
""")

                              
conn.commit()
conn.close()

print("SQLite database 'school.db' created with all tables")

SQLite database 'school.db' created with all tables ✅

7. Write SQL queries to calculate the GPA of each student.

In [30]:
import sqlite3

conn = sqlite3.connect("school.db")
cursor = conn.cursor()

# Create Grades table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Grades (
    grade_id INTEGER PRIMARY KEY AUTOINCREMENT,
    enrollment_id INTEGER NOT NULL,
    grade TEXT NOT NULL,
    FOREIGN KEY (enrollment_id) REFERENCES Enrollments(enrollment_id) ON DELETE CASCADE
);
""")

conn.commit()
conn.close()
print("Grades table created ✅")

Grades table created ✅

In [31]:
conn = sqlite3.connect("school.db")
cursor = conn.cursor()

# Sample Students
cursor.execute("INSERT INTO Students (first_name, last_name, email) VALUES ('Alice', 'Smith', 'alice@test.com')")
cursor.execute("INSERT INTO Students (first_name, last_name, email) VALUES ('Bob', 'Johnson', 'bob@test.com')")

# Sample Courses
cursor.execute("INSERT INTO Courses (course_name, course_code) VALUES ('Math', 'M101')")
cursor.execute("INSERT INTO Courses (course_name, course_code) VALUES ('Science', 'S101')")

# Sample Enrollments
cursor.execute("INSERT INTO Enrollments (student_id, course_id) VALUES (1, 1)")
cursor.execute("INSERT INTO Enrollments (student_id, course_id) VALUES (1, 2)")
cursor.execute("INSERT INTO Enrollments (student_id, course_id) VALUES (2, 1)")
cursor.execute("INSERT INTO Enrollments (student_id, course_id) VALUES (2, 2)")

# Sample Grades
cursor.execute("INSERT INTO Grades (enrollment_id, grade) VALUES (1, 'A')")
cursor.execute("INSERT INTO Grades (enrollment_id, grade) VALUES (2, 'B')")
cursor.execute("INSERT INTO Grades (enrollment_id, grade) VALUES (3, 'C')")
cursor.execute("INSERT INTO Grades (enrollment_id, grade) VALUES (4, 'B')")

conn.commit()
conn.close()
print("Sample data inserted ✅")

Sample data inserted ✅

In [32]:
conn = sqlite3.connect("school.db")
cursor = conn.cursor()

query = """
SELECT 
    s.student_id,
    s.first_name || ' ' || s.last_name AS student_name,
    ROUND(AVG(
        CASE g.grade
            WHEN 'A' THEN 4.0
            WHEN 'B' THEN 3.0
            WHEN 'C' THEN 2.0
            WHEN 'D' THEN 1.0
            WHEN 'F' THEN 0.0
        END
    ), 2) AS gpa
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
JOIN Grades g ON e.enrollment_id = g.enrollment_id
GROUP BY s.student_id, s.first_name, s.last_name
ORDER BY gpa DESC;
"""

cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

(1, 'Alice Smith', 3.5)
(2, 'Bob Johnson', 2.5)

8. Generate attendance reports for individual students and courses.

In [33]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect("school.db")


student_attendance_query = """
SELECT 
    s.student_id,
    s.first_name || ' ' || s.last_name AS student_name,
    c.course_name,
    COUNT(a.attendance_id) AS total_sessions,
    SUM(CASE WHEN a.status='present' THEN 1 ELSE 0 END) AS present_count,
    ROUND(
        100.0 * SUM(CASE WHEN a.status='present' THEN 1 ELSE 0 END) / COUNT(a.attendance_id),
        2
    ) AS attendance_percentage
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
JOIN Courses c ON e.course_id = c.course_id
LEFT JOIN Attendance a ON e.enrollment_id = a.enrollment_id
GROUP BY s.student_id, c.course_id
ORDER BY s.student_id, c.course_id;
"""

student_attendance = pd.read_sql_query(student_attendance_query, conn)
print("\n=== Attendance Report per Student ===")
print(student_attendance)


course_attendance_query = """
SELECT 
    c.course_id,
    c.course_name,
    s.student_id,
    s.first_name || ' ' || s.last_name AS student_name,
    COUNT(a.attendance_id) AS total_sessions,
    SUM(CASE WHEN a.status='present' THEN 1 ELSE 0 END) AS present_count,
    ROUND(
        100.0 * SUM(CASE WHEN a.status='present' THEN 1 ELSE 0 END) / COUNT(a.attendance_id),
        2
    ) AS attendance_percentage
FROM Courses c
JOIN Enrollments e ON c.course_id = e.course_id
JOIN Students s ON e.student_id = s.student_id
LEFT JOIN Attendance a ON e.enrollment_id = a.enrollment_id
GROUP BY c.course_id, s.student_id
ORDER BY c.course_id, s.student_id;
"""

course_attendance = pd.read_sql_query(course_attendance_query, conn)
print("\n=== Attendance Report per Course ===")
print(course_attendance)


conn.close()

=== Attendance Report per Student ===
   student_id student_name course_name  total_sessions  present_count  \
0           1  Alice Smith        Math               0              0
1           1  Alice Smith     Science               0              0
2           2  Bob Johnson        Math               0              0
3           2  Bob Johnson     Science               0              0

  attendance_percentage
0                  None
1                  None
2                  None
3                  None

=== Attendance Report per Course ===
   course_id course_name  student_id student_name  total_sessions  \
0          1        Math           1  Alice Smith               0
1          1        Math           2  Bob Johnson               0
2          2     Science           1  Alice Smith               0
3          2     Science           2  Bob Johnson               0

   present_count attendance_percentage
0              0                  None
1              0                  None
2              0                  None
3              0                  None

9. Analyze course performance using enrollment and grade data.

In [34]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("school.db")


avg_gpa_query = """
SELECT 
    c.course_id,
    c.course_name,
    ROUND(AVG(
        CASE g.grade
            WHEN 'A' THEN 4.0
            WHEN 'B' THEN 3.0
            WHEN 'C' THEN 2.0
            WHEN 'D' THEN 1.0
            WHEN 'F' THEN 0.0
        END
    ), 2) AS average_gpa,
    COUNT(e.enrollment_id) AS total_students
FROM Courses c
JOIN Enrollments e ON c.course_id = e.course_id
JOIN Grades g ON e.enrollment_id = g.enrollment_id
GROUP BY c.course_id, c.course_name
ORDER BY average_gpa DESC;
"""

avg_gpa = pd.read_sql_query(avg_gpa_query, conn)
print("\n=== Average GPA per Course ===")
print(avg_gpa)


grade_dist_query = """
SELECT 
    c.course_name,
    g.grade,
    COUNT(*) AS count
FROM Courses c
JOIN Enrollments e ON c.course_id = e.course_id
JOIN Grades g ON e.enrollment_id = g.enrollment_id
GROUP BY c.course_name, g.grade
ORDER BY c.course_name, g.grade DESC;
"""

grade_dist = pd.read_sql_query(grade_dist_query, conn)
print("\n=== Grade Distribution per Course ===")
print(grade_dist)


enrollment_status_query = """
SELECT
    c.course_name,
    COUNT(e.enrollment_id) AS total_enrolled,
    SUM(CASE WHEN e.status='completed' THEN 1 ELSE 0 END) AS completed_students,
    ROUND(100.0 * SUM(CASE WHEN e.status='completed' THEN 1 ELSE 0 END) / COUNT(e.enrollment_id), 2) AS completion_rate
FROM Courses c
JOIN Enrollments e ON c.course_id = e.course_id
GROUP BY c.course_name
ORDER BY completion_rate DESC;
"""

enrollment_status = pd.read_sql_query(enrollment_status_query, conn)
print("\n=== Enrollment and Completion Rate per Course ===")
print(enrollment_status)


conn.close()

=== Average GPA per Course ===
   course_id course_name  average_gpa  total_students
0          1        Math          3.0               2
1          2     Science          3.0               2

=== Grade Distribution per Course ===
  course_name grade  count
0        Math     C      1
1        Math     A      1
2     Science     B      2

=== Enrollment and Completion Rate per Course ===
  course_name  total_enrolled  completed_students  completion_rate
0     Science               2                   0              0.0
1        Math               2                   0              0.0

10. Identify at-risk students based on grades and attendance patterns.

In [35]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("school.db")

gpa_query = """
SELECT 
    s.student_id,
    s.first_name || ' ' || s.last_name AS student_name,
    ROUND(AVG(
        CASE g.grade
            WHEN 'A' THEN 4.0
            WHEN 'B' THEN 3.0
            WHEN 'C' THEN 2.0
            WHEN 'D' THEN 1.0
            WHEN 'F' THEN 0.0
        END
    ), 2) AS gpa
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
JOIN Grades g ON e.enrollment_id = g.enrollment_id
GROUP BY s.student_id, s.first_name, s.last_name
"""

gpa_df = pd.read_sql_query(gpa_query, conn)


attendance_query = """
SELECT
    s.student_id,
    s.first_name || ' ' || s.last_name AS student_name,
    SUM(CASE WHEN a.status='present' THEN 1 ELSE 0 END) * 1.0 /
    COUNT(a.attendance_id) * 100 AS attendance_percentage
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
LEFT JOIN Attendance a ON e.enrollment_id = a.enrollment_id
GROUP BY s.student_id, s.first_name, s.last_name
"""

attendance_df = pd.read_sql_query(attendance_query, conn)


student_df = pd.merge(gpa_df, attendance_df, on=['student_id', 'student_name'], how='outer')


GPA_THRESHOLD = 2.0
ATTENDANCE_THRESHOLD = 75.0

student_df['at_risk'] = (
    (student_df['gpa'] < GPA_THRESHOLD) |
    (student_df['attendance_percentage'] < ATTENDANCE_THRESHOLD)
)

at_risk_students = student_df[student_df['at_risk']]

print("\n=== At-Risk Students ===")
print(at_risk_students[['student_id', 'student_name', 'gpa', 'attendance_percentage']])


at_risk_students.to_csv("at_risk_students.csv", index=False)
print("\nAt-risk students report saved ✅")

conn.close()

=== At-Risk Students ===
Empty DataFrame
Columns: [student_id, student_name, gpa, attendance_percentage]
Index: []

At-risk students report saved ✅